*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    font-size: 70px;
    background-color: rgb(153, 173, 198);
}

.container{
   user-select: none;
}
.container .time{
    height: 100px;
    width: 260px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: oblique;
    font-size: 50px;
    border-radius: 15px;
    box-shadow: 4px 4px 6px rgb(46, 51, 55);
}

.second{
    color: rgb(153, 173, 198);
}

.buttons{
    text-align: center;
    margin-top: 10px;  
}

.buttons button {
    outline: none;
    border: none;
    border-radius: 13px;
    padding: 5px 16px;
    margin: 0 5px;
    color: rgb(0, 46, 103);
    cursor: pointer;
    font-size: 20px;
    font-family: cursive;
    box-shadow: 4px 4px 6px rgb(46, 51, 55);
}
.buttons button:hover {
    color: rgb(214, 241, 255);
    background-color: rgb(81, 120, 154);
}